{% extends 'inheritance.html'%}
{% block title %}Site{%endblock%}
{% block div %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
##test:12test345
<a href="\log" class="btn btn-info rounded-pill px-5">auth</a>
<a href="\reg" class="btn btn-info rounded-pill px-5">reg</a>
<a href="\logout" class="btn btn-info rounded-pill px-5">logout</a>
<a href="\draw" class="btn btn-info rounded-pill px-5">Draw</a>
<a href="\randphoto" class="btn btn-info rounded-pill px-5">Rand</a>



<br>

<!-- px-5 col-md-10 -->
{% for el in elements %}
    <div class="row border rounded-1 border-primary" >
    
  
    <div class="col-6">
          <!-- <div class="card list-group"></div> -->
    <h1>{{el.title}}</h1>
    <p>{{el.text}}</p>
    <p>{{el.date}}</p>
    <p>{{el.author}}</p>
<button class="like-btn btn btn-success rounded-pill px-3" data-article-id="{{ el.pk }}">Лайк </button>
<div>Лайков: <span id="like-count-{{ el.pk }}">{{ el.likes }}</span></div>
<br>
<a href="{% url 'post_detail' pk=el.pk %}" class=" btn btn-primary ">Check</a>

</div>

    <div class="col-6">{% if el.image %}
    <img src="{{ el.image.url }}" alt="{{ el.title }}" class="list-group" style="width: 30%;">
    {% else %}
    <p>!No img</p>
    {% endif %}
    </div>
    

    </div>  
     <br>
    
    {% endfor %}
    <br>
    <a href="\post" class="btn btn-info rounded-pill px-3">Posting</a>
{% load static %}

<script src="{% static 'js/postlike.js' %}"></script>


{%endblock%}
