{% extends 'inheritance.html'%}
{% block title %}Site{%endblock%}
{% block div %}
{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

<!-- <a href="\log" class="btn btn-info rounded-pill px-5">auth</a>
<a href="\reg" class="btn btn-info rounded-pill px-5">reg</a>
<a href="\logout" class="btn btn-info rounded-pill px-5">logout</a> -->





<div class=" mx-auto "> 
    ##test:12test345

    <a href="\draw" class="btn btn-info rounded-pill px-5">Draw</a>
    <a href="\randphoto" class="btn btn-info rounded-pill px-5">Rand</a>
    </div>
<!-- <a href="\draw" class="btn btn-info rounded-pill px-5">Draw</a>
<a href="\randphoto" class="btn btn-info rounded-pill px-5">Rand</a> -->



<br>

<!-- px-5 col-md-10 -->


{% for data in articles_data %}
    {% with el=data.article %}
    <div style="margin: auto;" class=" row-gap-3 row rounded-1 border border-info">
        <div class="col-6">
            <h1>{{ el.title }}</h1>
            <p>{{ el.text }}</p>
            <p>{{ el.date }}</p>
            <p>{{ el.author }}</p>
            
            <button class="like-btn btn {% if data.user_has_liked %}btn-danger{% else %}btn-success{% endif %} rounded-pill px-3" 
                    data-article-id="{{ el.pk }}">
                {% if data.user_has_liked %}Like{% else %}Like{% endif %}
            </button>
            <div>Лайков: <span id="like-count-{{ el.pk }}">{{ el.likes_count }}</span></div>
            <br>
            <a href="{% url 'post_detail' pk=el.pk %}" class="btn btn-primary">Check</a>
        </div>
        
        <div class="col-6">
            {% if el.image %}
                <img src="{{ el.image.url }}" alt="{{ el.title }}" class="list-group" style="width: 30%;">
            {% else %}
                <p>!No img</p>
            {% endif %}
        </div>
    </div>
    <br>
    {% endwith %}
{% endfor %}
    <br>
{% load static %}

<script src="{% static 'js/postlike.js' %}"></script>


{%endblock%}
