{% extends 'inheritance.html'%}
{% block title %}Cat{%endblock%}
{% block div %}
<div>
    photos<br>
    add image
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-success rounded-pill px-3">Submit</button>

</form>


    <button id="randomButton" class="btn btn-success rounded-pill px-3">Rand img</button>
    
    <div id="elements-count" data-count="{{ elements|length }}" style="display:none;"></div>

    {% for el in elements %}
    <img src="{{ el.image.url }}" class="list-group" style="display:none;" id="image-{{ forloop.counter }}">
    {% endfor %}


</div>
{% load static %}

<script src="{% static 'js/randomSkript.js' %}"></script>

{%endblock%}
<head>
</head>
<body>
   <h1></h1>
</body>
