<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>add review</h1>
<form method="post">
    {% csrf_token %}
    <label>Text</label>
    <textarea name="text" ></textarea>
    <label>Book</label>
    
    <select name="book">
        {% for book in books%}
        <option value="{{ book.id }}">{{book.name}}</option>
        {% endfor %}
    </select>
    <button type="submit">Add</button>
</form>


<a href="/">page</a>
</body>
</html>