<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Добавление книги</h1>
<form method="post">
    {% csrf_token %}
    <p><label>Название книги</label></p>
    <p><input name="name"></p>
    <p><label>Автор книги</label></p>
    <p><input  name="author"></p>
    <p><label>Цена</label></p>
    <p><input type="number" name="price"></p>
    <label>Категория</label>
    <p><select name="category">
        <option value="">Без категории</option>
        {% for category in category_list %}
            <option value="{{category.id}}">{{category.name}}</option>S
        {% endfor %}
    </select>
    </p>
    <p style="color:red">{{ errors }}</p>
    <button>Добавить книгу</button>
</form>
<a href="/">Главная</a>
</body>
</html>