<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<a href="/books">Все категории</a>
<a href="/">page</a>
    <div style="border: 2px solid blue; width: 30%; margin-bottom:30px; padding: 5px">
        <p>Название: {{book.name}} </p>
        <p>Автор: {{book.author}} 
            <br>Категория: {{ book.category.name }}</p>
        <p>Цена: {{ book.price }}</p>

        <img src="/static/dubn.jpg" width="350px">
    </div>
</body>
</html>